useDynLib(lavaanC, .registration = TRUE, .fixes = "C_")

# export ordinary functions defined in this package
export("parse_model_string")
export("m_prod")
export("m_crossprod")
export("m_tcrossprod")
export("m_vecr")
export("m_vech")
export("m_vechr")
export("m_vechu")
export("m_vechru")
export("m_vech_idx")
export("m_vech_row_idx")
export("m_vech_col_idx")
export("m_vechr_idx")
export("m_vechu_idx")
export("m_vechru_idx")
export("m_vech_reverse")
export("m_vechr_reverse")
export("m_diag_idx")
export("m_diagh_idx")
export("m_antidiag_idx")
export("m_vech_which_idx")
export("m_vech_match_idx")
export("m_is_diagonal")
export("m_duplication")
export("m_duplication_cor")
export("m_duplication_pre")
export("m_duplication_cor_pre")
export("m_duplication_post")
export("m_duplication_cor_post")
export("m_duplication_pre_post")
export("m_duplication_cor_pre_post")
export("m_duplication_ginv")
export("m_duplication_ginv_pre_post")
export("m_commutation")
export("m_commutation_pre")
export("m_commutation_post")
export("m_commutation_pre_post")
export("m_kronecker_dup_pre_post")
export("m_kronecker_dup_cor_pre_post")
